@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    font-weight: bold;
    color: #e5e7eb;
    background-color: #3882f6;
    margin-top: 5px;
    padding: 4px 16px;
    border: none;
    border-radius: 8px;
}

.header-container {
    background-color: #1f2937;
}

.header,
.head-content {
    max-width: 1000px;
    max-width: 65%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 8px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 8px;
}

.left-card {
    text-wrap: wrap;
    width: 600px;
}

.left-card > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.left-card p {
    font-size: 18px;
    color: #e5e7eb;
}

.image-holder {
    flex: 2;
    background-color: gray;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Random Information Part */
.info {
    margin: 100px 150px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h2 {
    font-weight: bold;
    padding: 24px;
}

.card-container {
    display: flex;
    gap: 64px;
}

.card {
    margin-bottom: 6px;
    width: 160px;
    height: 160px;
    border: 2px solid cyan;
    border-radius: 10px;
}

.item {
    width: 160px;
    text-align: center;
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f2937;
}

/* Inspiring Quote Section */
.insipiring-quote {
    background-color: #e5e7eb;
    min-height: 250px;
    padding: 50px 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    text-wrap: pretty;
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: bold;
    margin-left: auto;
}

/* Sign up section */
.blue-box {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    background-color: #3882f6;
    padding: 25px;
    min-width: 800px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
}

.head {
    font-weight: 900;
}

.desc {
    font-size: small;
}

.sign-up {
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 8px 24px;
}

/* Footer */
.footer {
    padding: 28px;
    color: #e5e7eb;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}